.menu {
    font-size: 24px;
}
.titulo {
    font-size: 70px;
}
.title-a {
    font-size: 24px;
}
.title-b {
    font-size: 50px;
}
.guitarras {
    color: #1F313C;
}
.guitarras h2 {
    font-size: 35px;
}
.portada {
    color: white;
    background-image: url('../images/background.png');
}