
body {
    font-family: 'Allerta', sans-serif;
    margin: 0;
}
.menu {
    display: inline-block;
    font-size: 24px;
    right: 0;
}
.menu li {
    margin-left: 30px;
    display: inline-block;
}
.logotipo {
    display: inline-block;
}
.titulo {
    margin-top: 70px;
    margin-bottom: 0px;
    font-size: 70px;
}
.title-a {
    margin-top: 0;
    font-size: 24px;
}
.title-b {
    margin-bottom: 20px;
    font-size: 50px;
}
.guitarras {
    color: #1F313C;
}
.guitarras h2 {
    font-size: 35px;
}
.guitarra {
    margin: 10px;
    padding: 10px;
    /*overflow: hidden;*/
    border-radius: 8px;
    border: 1px solid #1F313C;
}
.guitarra .image-a {
    top: -127px;
}
.guitarra .image-b {
    top: 80px;
}
.guitarra ol {
    padding: 0;
}
.titulo, .guitarras h2 {
    font-family: 'Montserrat', sans-serif;
}
.portada {
    padding: 20px;
    color: white;
    background-image: url('../images/background.png');
}
.portada button {
    margin-bottom: 70px
}
.container {
    width: 800px;
    margin: 0 auto;
}
.container-guitarra-b {
    margin-left: 370px;
    padding-right: 20px;
}
.container-guitarra-a {
    margin-right: 370px;
    padding-left: 20px;
}
.right {
    float: right;
}
.left {
    float: left;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.btn {
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: #FD324E;
    color: white;
}
.footer {
    background-color: #273b47;
}
.contacto img {
    display: block;
}
.contacto strong {
    display: block
}
.contacto a {
    margin-right: 30px;
    display: inline-block;
    text-decoration: none;
    color:  white;
}
.prueba {
    display: flex;
}
.prueba .inline {
    width: 50%;
}